<form >
    <label for="fname">SID</label><br>
    <input type="text" id="fname" name="fname"><br>

    <label for="lname">Sensor Name</label><br>
    <input type="text" id="lname" name="lname" ><br>


    <label for="lname">Sensor Latitude</label><br>
    <input type="text" id="lname" name="lname" ><br>

    <label for="lname">Sensor Longitude</label><br>
    <input type="text" id="lname" name="lname" ><br>

    <label for="lname">Sensor Threshold</label><br>
    <input type="text" id="lname" name="lname" ><br>

    <label for="lname">Sensor Unit</label><br>
    <input type="text" id="lname" name="lname" ><br>

  <br><br>

    <input type="submit" value="Submit">
  </form>

